.entity-form {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 30px 30px;
	min-width: 300px;
	min-height: 200px;

	&__title {
		margin-bottom: 40px;
	}

	.entity-form__input {
		margin-bottom: 10px;
	}
}