.modal {
  border: none;
  outline: none;
  background-color: transparent;

  &,
  &::backdrop {
    animation: close .3s forwards;
    transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete;
  }

  &[open],
  &[open]::backdrop {
    animation: open .3s forwards;
  }

  .modal-title {
    margin: 0 0 20px;
    font-weight: 500;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}