.table-container {
  overflow-x: auto;
}

.table th {
  font-weight: 500;
  align-items: center;
  white-space: nowrap;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr {
  height: 45px;
}

tr th:not(:first-child):not(:last-child),
tr td:not(:first-child):not(:last-child):not(:nth-child(2)) {
  width: 100px;
}

tr td:not(:first-child):not(:last-child):not(:nth-child(2)) {
  padding: 0;
}

tr td:first-child {
  text-align: center;
  width: 38px;
  box-sizing: border-box;
  min-width: 48px;
}

tr td:last-child {
  text-align: center;
}

.table label {
  box-sizing: border-box;
  display: flex;
  height: 45px;
  padding: 8px;
  cursor: pointer;

  & input[type="checkbox"] {
    cursor: pointer;
  }
}

.td-checkbox {
  transition: background-color .3s;

  &:hover {
    background-color: rgb(35, 187, 35, 0.2);
  }

  &.checked {
    background-color: rgb(35, 187, 35, 0.86);
  }

  input {
    display: none;
  }
}

.table .table-cell-name {
  text-align: center;
}

.table .row-number {
  min-width: 48px;
  box-sizing: border-box;
}

.person-edit{
	margin-left: 10px;
}