@import "./imports";

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
}

.content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.form-button {
	width: 100%;
}

.person-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

button.add-product,
button.add-person {
	margin-right: 10px;
	margin-bottom: 20px;
}